# Don’t clear the screen after quitting a manual page
export MANPAGER="less -X";

# Always enable colored `grep` output
export GREP_OPTIONS="--color=auto";

# Enable CLI colors for `ls` (OSX)
export CLICOLOR=1

# Set path for GOCODE
export GOPATH=${HOME}/gocode
export PATH=${PATH}:${GOPATH}/bin

# NVM
if [ -d "~/.nvm" ]; then
  export NVM_DIR=~/.nvm
fi
